.updateCoupon{

    overflow: auto;
    grid-column: span 10;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #084633;
}

.updateCoupon input{
    
    display: inline-block;
    margin: 2px;
    text-align: center;
    font-size:medium;
    text-decoration: none;
    clear: left;   
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 25px; /*making the borders round */
	  color: rgb(0, 0, 0);
    width: 20%;
}

.updateCoupon select {
    width: 150px;
    font-size: large;
    margin-top: 10px;
    margin: 10px;
    padding : 10px;    
    font-family:  Arial, Helvetica, sans-serif;
    /* Round corners button */
    border-radius: 25px;
    margin-left: 3px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); }